.navbar{
    height: 50px;
    width: 100%;
    word-spacing: normal;
    background: transparent;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar a:hover{
    color: blue;
}
td{
    width: 0.5%;
}

  img {
    width: 0.5%;
    
  }

  body {
    background-image: url("im.jpeg");
    
  }

  img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1{ text-align: center;}
h2, h3{text-align: center;}
p {text-align: center;
text-transform: italic;}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

textarea {
  border-spacing: 0;
 row-gap: 0;
}



.split {
  height: 100%;
  width: 50%;
  position:absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
  top: 10%;
  background-image: url("download.jpeg");
  background-size: 100%;
}

.right {
  right: 0;
  top: 10%;
  background-color: white;
  background-size: 60%;
  background-image: url("birds.jpeg");
  background-repeat: no-repeat;
  background-position: right top;
 
  background-attachment: scroll;
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 100%;
}


.contact textarea {
  width: 30%;
  border-radius: 5px;
  padding: 20px;
}

.main {
  grid-area: main;
  right: 0;
  top: 10%;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("download.jpeg");
  background-attachment: scroll;

color: rgb(12, 12, 12);

}
.aside {
  grid-area: aside;
  left: 0;
  top: 10%;
  background-image: url("download.jpeg");
  background-size: 100%;
}